[2014-10-30 14:00] jodosha opened #3 "Number formatting"
Introduce a module that provides formatting facilities for numbers.
It should accept any kind of number and return a comma delimited string, with decimal separator.

Please consider to include both unit and integration tests. Please have a look at `lotus-assets` for integration tests example.

The goal is to provide private methods (if possible). This should forbid bad usage of those helpers:

[co

[2014-12-02 12:04] joneslee85 opened #5 "Add form helper"
Use case: a way to set form action to PATCH or PUT for RESTful update action

[2015-01-13 15:00] jodosha opened #6 "HTML Generators"

[2015-01-27 13:42] jodosha opened #8 "Markup escape helpers"
## Introduction

For a design introduction of helpers please have a look at the [README](https://github.com/lotus/helpers/blob/master/README.md#design).

By including `Lotus::Helpers::EscapeHelper` it will inject **four private methods:**

  * `#escape_html` (aliased as `#h`)
  * `#escape_html_attribute` (aliased as `#ha`)
  * `#escape_url` (aliased as `#u`)
  * `#raw` (which wraps the given argum

[2015-02-03 15:12] #6 closed

[2015-02-04 21:53] #8 closed

[2015-02-07 15:07] tomkadwill commented on #3
I'll take a look at this, I'll submit a PR soon for review

[2015-02-08 08:36] tomkadwill commented on #3
@jodosha @joneslee85 I've added a PR for this. It is still a WIP but I wanted to get your feedback as to whether it meets the requirement. Let me know whether anything needs changing.

[2015-02-09 10:35] tomkadwill opened #13 "README - CurrencyFormatter is not valid helper (currently)"
The README examples use `CurrencyFormatter`: https://github.com/lotus/helpers/blob/master/README.md#bad-style-example

This is not as valid helper AFAIK. Should this be changed to a helper that is actually implemented? As it may confuse users.

[2015-02-09 12:53] jodosha commented on #13
@tomkadwill Feel free to change it with your upcoming `NumberFormatter` example.

[2015-02-15 10:23] tomkadwill opened #15 "Issue with new routing helper"
I'm having a problem using the new routing helper, introduced in https://github.com/lotus/helpers/pull/14. This is probably a lack in my understanding, if so, feel free to close.

I have the following view:

[code]

This raises `NoMethodError: undefined method 'blog_path'`. However, if I change the view to use the `path` method, it works fine:

[code]

Shouldn't the new routes helper be interchang

[2015-02-15 11:02] jodosha commented on #15
Hey Tom, please make sure that your app uses lotus/lotus master, where there is the dynamic finders feature.

http://lucaguidi.com

[2015-02-15 13:02] tomkadwill commented on #15
My bad, yep that works fine. Closing.

[2015-02-15 13:02] #15 closed

[2015-02-25 20:46] tomkadwill opened #17 "link_to helper"
A common pattern in views is to link to a route, eg:

[code]

Should lotus have a helper method for this? I haven't put much though into the specifics yet.

[2015-02-26 00:19] joneslee85 commented on #17
@tomkadwill can you please move this to discuss.lotusrb.org instead? Cheers

[2015-02-26 00:19] #17 closed

[2015-06-03 07:32] jodosha commented on #5
Closed by #16

[2015-06-03 07:32] #5 closed

[2015-06-03 08:58] #3 closed

[2015-06-03 09:01] jodosha commented on #13
Resolved by #11

[2015-06-03 09:01] #13 closed

[2015-07-26 14:20] joneslee85 opened #23 "Support HTML5 required constraint for text_field"
Now:

[code]
generates

[code]

which is *invalid* HTML5 syntax

It should generate this instead:

[code]

[2015-07-26 16:34] pascalbetz commented on #23
@joneslee85 i'll look into it.

[2015-07-26 16:44] skinofstars opened #24 "integration/router_helper_test.rb failing"
[code]

Confirmed on Vagrant using ubuntu 14.04 and ruby 2.2
Also on OS X 10.10.4, Ruby 2.2.0 by @pascalbetz

CI seems fine

[2015-07-26 16:51] pascalbetz commented on #24
Problem is line ending.

If template ends with "0D 0A" then the test fails. If it ends with "0A" then it succeeds. Not sure what the expected output is but i guess the test is not entirely correct. If this is the case:
Either check for "contains", add the line ending to the test or chomp before compare.

[2015-07-27 08:00] jodosha commented on #23
Both `required="true"` and `required` are correct. The latter is a nice shortcut that HTML5 browsers support.

Quoting W3C SPEC:

http://www.w3.org/TR/html-markup/syntax.html#syntax-attr-empty

[2015-07-27 08:04] jodosha commented on #23
There is another issue with this approach. We want to make `required` a special attribute that no requires quoted value, but if we want to follow the same path, we should render all the other attributes with the same syntax. Think of `disabled` or `checked`.

But because this will increase the internal complexity and so the rendering process, I'm keen to leave things as they are, because the actua

[2015-07-27 08:04] #23 closed

[2015-07-27 08:31] pascalbetz commented on #23
If a boolean attribute is present, then no matter what its value is, the browser will interprete it as set:

https://jsfiddle.net/jgvjtr93/1/

So the caller would need to make sure that he actually omits the attribute completely instead of passing it with _false_ as value:
[code]
instead of:
[code]

[2015-07-27 11:02] jodosha commented on #23
@pascalbetz Your observation is correct. Would you like to fix that? Thank you.

[2015-07-27 11:16] pascalbetz commented on #23
@jodosha

Will do.

[2015-07-27 12:05] joneslee85 commented on #23
@jodosha the `required="true"` is not valid, according to W3C spec

[code]

Refer to: http://www.w3.org/html/wg/drafts/html/master/infrastructure.html#boolean-attribute

Though not a fan of valueless attribute, I still want to provide an intuitive DSL `required: true` which generates `required="required"`

[2015-07-27 12:12] pascalbetz commented on #23
@joneslee85 this is the way i'm going because it is still valid XML syntax. Any boolean attribute that has a trueish value will be added with

```attribute_name="attribute_name"```
This keeps the code simple.

[2015-07-27 12:31] joneslee85 commented on #23
@pascalbetz go for it

[2015-07-27 23:16] #24 closed

[2015-08-12 12:07] pascalbetz commented on #24
@skinofstars @joneslee85

I found out why that test failed on my machine (and not on the others). It's a config issue for git. I think my fix is not required (even though it did not break something... the test is now less exact as it only checks for inclusion).

Problem was (and i have no clue how this got into my config):

[code]

where as it should be

[code]

@skinofstars: can you please check

[2015-08-13 02:05] joneslee85 commented on #24
@pascalbetz good find, if so, we could revert the changes

[2015-08-13 06:53] pascalbetz commented on #24
@joneslee85 yes... let's wait what @skinofstars reports back.

[2015-08-13 08:23] skinofstars commented on #24
@pascalbetz @joneslee85 hmm, I don't have that setting in my ~/.gitconfig. It looks like `autocrlf = input` is for auto-fixing*. I take it you added that Pascal?

I'm not sure you can expect everyone to have that configured, so it might be better to do the less exact check.

* https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#Formatting-and-Whitespace

[2015-08-13 11:28] pascalbetz commented on #24
Yes, i added it. For whatever reason it was set to "true" before.

On *nix systems line endings should be LF, not CRLF. So i think it's OK to assume this, and to fix it (converting CRLF to LF) if it should be broken. At least not set it to true.

[2015-08-14 10:08] josemota opened #29 "Support for text nodes"
I was making my way towards building a form using the HTML5 API. However, it seems to be that it's currently impossible to accomplish the following:

[code]

A possible solution could be something like:

[code]

What do you guys think?

[2015-08-15 23:33] joneslee85 commented on #29
I like the idea

cc @AlfonsoUceda @jodosha

[2015-08-15 23:43] josemota commented on #29
@joneslee85 referred to the possibility for injection to happen. I'll add a failing test to start and work a solution out.

[2015-08-21 21:31] josemota opened #32 "`text_area` method is not providing either `id` or `name` attributes"
The title is self-explanatory but here's my own example:

**Code**

[code]

**Output**

[code]

It is expected that the textarea has:

* A `name` attribute with the value of `event[notes]`;
* An `id` attribute with the value of `event-note`.

* * *

EDIT: The root cause of the bug is the inability to store both name and id when no content is passed in. Check [the discourse](https://github.com/lotu

[2015-08-22 01:01] #29 closed

[2015-08-22 01:02] joneslee85 commented on #32
Good find, would you be able to submit a PR? TIA

[2015-08-22 07:51] pascalbetz commented on #32
Without looking into the code, shouldn't it be:

[code]
(Form builder passed as a block argument).

[2015-08-22 09:39] joneslee85 commented on #32
@pascalbetz nope

eg:
[code]

[2015-08-22 10:27] josemota commented on #32
@joneslee85 yes, absolutely. You'll need to give me some time, though. My wife is in the hospital, it seems that my baby wants to be born any hour now. :) I'll be in touch.

[2015-08-22 11:57] AlfonsoUceda commented on #32
@joneslee85 you are right, it should be like the example https://github.com/lotus/helpers#view-usage

[2015-08-22 17:04] pascalbetz commented on #32
@joneslee85  i was referring to the first example at http://lotusrb.org/guides/helpers/forms/ but without checking the text below. Argh.

@josemota : all the best!

[2015-08-22 23:42] josemota commented on #32
@joneslee85 @pascalbetz My baby's been born! She's growing steadily now in the incubator for some time. Until then, I'll be on the lookout but I'll try and squeeze in some time to work something out.

Please bear with me :)

[2015-08-27 11:04] josemota commented on #32
I've found the cause of this bug. It seems that not passing any content to the method will simply not register either `name` or `id`.

[code]

I recall there's a place in the code where both of these are handled so I'll dig deeper. I'll edit the initial message with this mention for better contextualization.

[2015-08-28 10:30] #32 closed

[2015-09-16 17:28] sebastjan-hribar opened #34 "titleize for label produces capitalized words in multi-word symbol or string"
As I've stated in the name I get capitalized words in multi-word symbol or string in a form.

Example: :test_case produces Test Case in the view.
I'd like it to be Test case

In the form_builder.rb the label method uses the titleize method on the content which gives the result above.

Is there a way to work around this?

I'm thinking of something like:

[code]
It would work also for strings.
regar

[2015-09-17 07:20] jodosha commented on #34
@sebastjan-hribar Thanks for this suggestion. A quick research revealed that it's a common pattern to capitalize and not to titleize form labels (Eg. "Confirm password" and not "Confirm Password").

I'd say to change the behavior here (see https://github.com/lotus/utils/pull/85). @lotus/core-team Thoughts?

[2015-09-17 09:31] sebastjan-hribar commented on #34
@jodosha I had a look at the capitalize in lotus/utils#85 as you suggested and that would be great.
regards, seba

[2015-09-17 20:45] awochna opened #35 "Add a number_field helper"
So that my bookshelf application can say:

[code]

And I can show off how far I am through various books.

Alternatively, some extra sugar would be nice:

[code]

So that I can easily update how far I am in the book using 5% increments, but I can't go over 100% (extra credit?) or under 0% (lots and lots of slacking).

[2015-09-18 07:24] jodosha commented on #35
@awochna I like it. :+1:

[2015-09-18 09:02] #34 closed

[2015-09-18 23:51] awochna commented on #35
Great, I'll start working on a PR next week!

[2015-09-22 09:37] #35 closed

[2016-01-25 21:56] davydovanton opened #48 "Errors with calling link_to helper in html builder"
When I call `link_to` helper in `html` helper I have a problems.
I don't know solution for this problem, but [I have a patch with test cases](https://github.com/davydovanton/helpers/commit/814e8b3d8e552fcb525bdd09eff9244669712c6f):

[code]

[2016-01-25 21:59] davydovanton commented on #48
May be is better to create alias from `link_to` to `a` tag? What do you think?

[2016-01-26 10:52] joneslee85 commented on #48
@davydovanton what was the output of the error?

[2016-01-26 10:55] davydovanton commented on #48
@joneslee85, sorry I forgot to add this :disappointed:

[code]

[2016-01-29 01:12] davydovanton opened #49 "Link_to helper for delete request"
I think that it'll be really cool to create helper for `delete` request. For example `link_to_delete` Method which generate form with `delete` request. What do you think it'll be helpful?

[2016-01-29 01:45] joneslee85 commented on #49
I am not a very big fan of that counterpart feature in Rails. Because it generates form tags that might break the styling unexpectedly.

These days I want to do things obtrusively with integration test to back me up.

cc @AlfonsoUceda / @jodosha

[2016-01-29 08:22] jodosha commented on #49
There is a way to avoid form tags, it's to use JavaScript to send a DELETE request. But we lack of this component and without it this feature request is incomplete.

To clarify, we can consider this in the future, but I'm not keen right now to implement JS features to pair with this special link.

[2016-01-29 08:22] #49 closed

[2016-01-29 15:10] davydovanton commented on #49
I understood. Thanks!

[2016-01-29 15:20] jodosha commented on #48
Nope, they have a different meaning and syntax.

---

The problem here is about the scope of that block. It could've been happened with other helpers too.

[2016-02-04 00:23] #48 closed

[2016-02-04 17:23] jodosha commented on #48
@davydovanton @joneslee85 After a deeper looking at this issue, it isn't a bug.

`link_to` doesn't work like the other HTML builder methods. That means you can avoid to concat tags:

[code]

But `link_to` never advertised to work like that. That means links must be explicitly concatenated.

Please check the linked PR.

[2016-02-06 14:17] joneslee85 commented on #48
@jodosha thx for the PR though I find this behaviour might cause a bit of confusion for our user. I guess we should make it clear in the doc

[2016-02-06 14:25] davydovanton commented on #48
@joneslee85 I'll update the documentation.

[2016-02-21 18:08] sebastjan-hribar opened #57 "implementation of datalist helper"
Hi,

I'd like to open this ticket to ask for implementation of the datalist helper: https://github.com/hanami/helpers/blob/23a7df457513ad79bd1d3da5a4c8f1cea5776923/lib/hanami/helpers/html_helper/html_builder.rb#L42 .

Thank you.
Kind regards,
Sebastjan

[2016-02-21 23:26] joneslee85 commented on #57
@sebastjan-hribar isn't that this helper there already? Can you try `html.datalist`?

[2016-02-22 06:51] sebastjan-hribar commented on #57
Hi,
I've tried the code below, where parents are exposed in the action:
[code]

I get this error:

[code]

[2016-02-22 08:24] jodosha commented on #57
@sebastjan-hribar Nested `html` calls won't work. You should omit the inner one:

[code]

---

Now, [`<datalist>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist) is similar to [`<select>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select). For the latter we offer [a specific support in `FormBuilder`](https://github.com/hanami/helpers/blob/master/lib/hanami/help

[2016-02-22 08:57] sebastjan-hribar commented on #57
By omitting the inner html call (the one for datalist), I get the same error. I also tried adding the value block inside the option:

[code]

and the error persists.

If I only put the html call to datalist tag (with or w/o the value block), the form is rendered, but the parent field is just an input field.

[2016-02-22 12:48] joneslee85 commented on #57
@sebastjan-hribar would you be able to submit a PR?

[2016-02-22 14:24] sebastjan-hribar commented on #57
I'll keep trying to get this right, but I can't guarantee a PR, because I'm afraid it extends beyond my current abilities and knowledge.

[2016-02-22 15:19] sebastjan-hribar commented on #57
Update on the current `datalist tag` implementation:

The code below works in a sense that produces the list of all parents and performs the `datalist` functionalities. Errors in my code above were two: `html` calls and nesting the `datalist` under `input`.
[code]

However, the student is created, but the `ParentID` is not added as the FK to the students table. I've also tried with `parent.id` but

[2016-02-23 08:20] jodosha commented on #57
@sebastjan-hribar Hey, thanks for the extended explanation. Would you be so nice to add the HTML output of both the forms? That is helpful to understand where is the problem.

[2016-02-23 08:20] jodosha commented on #57
I'm still thinking that we need a `datalist` method in `FormBuilder`. One similar to `select`.

[2016-02-23 09:58] sebastjan-hribar commented on #57
Hi,

I kept at it and I'finally solved it. I tried to mimic the select behavior and this code does something similar:

[code]

This creates a `datalist` with a value of `key`, which is used as a FK. And it displays all `parents` and it enables auto complete. I will have to deal with the possibility of users entering something else that the options given.

For the `value` not being saved, the error

[2016-02-23 10:10] jodosha commented on #57
@sebastjan-hribar

That is because `text_field` is designed to work with specific HTML forms knowledge. It's part of `FormBuilder`. If you use generic HTML builders (eg `html.datalist`), they don't know nothing about forms, just about HTML.

What means "form knowledge" BTW? That means a helper knows the form is belonging to (eg `form_for :student`) and properly prefixes the `name` attributes or fi

[2016-02-23 10:17] sebastjan-hribar commented on #57
@jodosha
I just wanted to state that it was an overlook on my behalf, regarding the name attribute, and of course, I agree with the `datalist` form helper. Thank you also for the "form knowledge" explanation.
Kind regards,
Sebastjan

[2016-03-02 18:20] cllns opened #59 "Country select helper"
[`country_select`](https://github.com/stefanpenner/country_select) is a useful Rails gem to generate a `select` of countries, with their country codes as values. I'm working on a `hanami` app right now that could benefit from it.

Can this be ported to Hanami? Note: Rails removed it from the `rails` project for political reasons: the names/existence of countries can be controversial. Hanami may wi

[2016-03-03 08:47] jodosha commented on #59
@cllns This is a good idea. :+1:

What we aim for, is to NOT create a walled garden for Hanami Community, but something that all the Ruby ecosystem can benefit from.

For instance, all the `select` helpers across Hanami, Rails and Padrino accept an enumerable (Hash, or nested arrays). It would be nice if the first goal of your gem is to provide that basic data structure. Eg:

[code]

This is just

[2016-03-03 08:48] #59 closed

[2016-03-07 16:10] #57 closed

[2016-06-07 13:14] sebastjan-hribar opened #66 "the selected attribute on the option tag is not set"
Hi,

I'm using select helper and the selected attribute on the option tag is not automatically set. For example, when displaying an entity for edit and update.

I've setup a small bookshelf with book and author entities. It's minimalistic just to get the minimum required environment ready.

Hanami data:
hanami,       '0.7.2'
hanami-model, '~> 0.5'
hanami-helpers (~> 0.3)

Sample app: https://githu

[2016-06-07 17:30] jodosha commented on #66
@sebastjan-hribar Thanks for reporting this problem.

I've cloned your demo app (thanks for that 🙏 ). It can't work, because the framework only selects an `<option>` tag in case of a HTTP param has a value that applies. This is useful in case of failing form submission: you want to render the form again, but won't loose the input that the user typed.

We should expand `select` with a new option to

[2016-06-08 09:08] sebastjan-hribar commented on #66
@jodosha I'm sorry for my late reply.

Thank you for the feedback.

`select :author, authors, selected: book.id` is something I had in mind for this scenario.

I'd be interested in trying to implement this, however I'm not confident I can do as good a job and as fast as an experienced person. But I have to start somewhere and sometime, right? :smile:
Let me know if you would like to entrust this t

[2016-06-08 11:55] jodosha commented on #66
@sebastjan-hribar I trust you.

There are plenty of tests here: https://github.com/hanami/helpers/blob/4e91ee6fe1aa1096fa2484f90d159ef283433b21/test/form_helper_test.rb#L1135, just add another one to cover this case and make it to pass. 😉

---

The `:prompt` option was introduced on [Mar 10](https://github.com/hanami/helpers/commit/dbf2d63dff1cd2ccac44aae7f3d45bc0a7b93872), but not released yet. I

[2016-06-09 06:03] sebastjan-hribar commented on #66
@jodosha can you look at this [gist](https://gist.github.com/sebastjan-hribar/1525d4626077c17f754c6ee8c9608fbf)? After forking and bundle install I ran rake test and get the error in the gist.
Also this one is strange: [L25](https://gist.github.com/sebastjan-hribar/1525d4626077c17f754c6ee8c9608fbf#file-rake_error-rb-L25)

[2016-06-12 19:22] sebastjan-hribar opened #67 "rake test: undefined method `param' for DeliveryParams:Class (NoMethodError)"
After forking and w/o any changes yet rake test for helpers gives the following error:

[code]

[2016-06-12 19:27] sebastjan-hribar commented on #67
With filtered warnings it gives back:

[code]

[2016-06-12 19:39] vasspilka commented on #67
I can confirm this occurs cloning, installing bundle and trying to run specs.

Should be becouse of the change to `dry-v`

[2016-06-17 10:21] vladimirich commented on #67
Got same behaviour too

[2016-06-18 10:28] sebastjan-hribar commented on #67
Here's jodosha's advice from chat, but I haven't gotten around to it yet and probably won't have the time for another week.
---
you have to amend Gemfile with the latest dependencies: See hanami/validations Gemfile as an example.
Plus you need to amend the fixtures from hanami/helpers to make sure they work with the latest changes.
---

[2016-06-20 10:31] jodosha commented on #67
I fixed this problem in master with https://github.com/hanami/helpers/commit/b534567a259d60edd648c992ba70044875e6a4fc

Thank you all! 💖

[2016-06-20 10:31] #67 closed

[2016-06-20 10:32] jodosha commented on #66
@sebastjan-hribar `master` branch is now clean (see https://github.com/hanami/helpers/commit/b534567a259d60edd648c992ba70044875e6a4fc), please go ahead with this fix. Sorry about the trouble.

[2016-07-05 10:38] jodosha commented on #66
Implemented by https://github.com/hanami/helpers/pull/69

[2016-07-05 10:38] #66 closed

[2016-07-28 11:29] TiteiKo opened #71 "form_for helper giving an undefined method 'params' in tests"
Hi,

So.. I'm trying to make a really simple form:

[code]

[code]

With a really small test on the view/template:

[code]

And everything should be shining in glory to the Thing! And it is! At least in my browser, yay!

But it's not in my test...

[code]

Full error stack: http://0bin.net/paste/qIW55zzj6-TmTtCR#gm-ZUExIHvX8PhTJi0bZMPTHPUI0qN3hu/KMLSsyjv/
Full Gemfile.lock: http://0bin.net/paste/2

[2016-08-05 15:52] bruz commented on #71
I ran into this too at one point. Adding `params` to the exposures seems to fix it, so you could try:

[code]

I noticed that as of Hanami 0.8.0 I had to add the `params` block in `NewThingsParams` to get it to work.

If someone knows a less verbose way of doing setup for view tests, I would love having a better way of doing this.

[2016-08-08 08:42] jodosha commented on #71
@TiteiKo Hi and sorry for this lack of clarity - @bruz is right: you should pass it as an exposure. There is no need to create a concrete class (eg. `NewThingsParams`), but you can instantiate a Hash directly:

[code]

---

This testing design is verbose, but ensures to test the view in isolation.

[2016-08-08 08:42] #71 closed

[2016-08-11 08:46] TiteiKo commented on #71
@jodosha When using ```Hash[]```, we get the following error:

[code]

[2016-08-12 08:09] jodosha commented on #71
@TiteiKo Sorry for this misleading suggestion. Here's a solution for it 😄 https://github.com/hanami/helpers/pull/72

[2016-08-12 08:10] TiteiKo commented on #71
@jodosha Yay! Thanks 👍

[2016-09-09 10:00] TiteiKo opened #77 "Number formatting precision"
Hi all,

It looks like `NumberFormattingHelper` does not fully take into account the given precision:

[code]

Is this by design?

[2016-09-29 18:03] brbrr opened #78 "Unable to insert 2 html5 methods in to form_for block"
Im trying to add 2 bootstrap radio buttons which is require nesting in `label` tag:

[code]

Its possible to do only with html helper (or with raw html insert in to form_for, which looks like not possible also). So I create method in view like so:

[code]

and trying to render this template:

[code]

but generated html include only last method call:

[code]

The problem remains when I use more sim

[2016-10-07 09:41] vladdypwnz opened #80 "FormBuilder output doesn't result in minified HTML"
Here's a snippet from the FormBuilder code I have on a site I was building:

[code]

As you can see below, the rest of the document is very neatly compressed into one line in production except for the FormBuilder HTML:

![doesnt-minify](https://cloud.githubusercontent.com/assets/841644/19185588/20c6cc14-8c37-11e6-9437-72209ee0bd33.png)

Why is this happening and is this something that is PR-worthy

[2016-10-10 21:38] cllns commented on #80
Looks like [this is happening here](https://github.com/hanami/helpers/blob/83e503078657aaec13d718534311be7074b2d509/lib/hanami/helpers/html_helper/html_builder.rb#L324). Rather than `.join(NEWLINE)` it could just be `.join`.

I personally prefer non-minified HTML, since I don't think the benefit of a _slightly_ smaller page size is worth the trouble. Regardless, we should probably be consistent. I

[2016-10-10 22:10] katafrakt commented on #77
Current implementation is based on Ruby `round` method, which behaves like that. See: https://ruby-doc.org/core-2.3.0/Float.html#method-i-round

This is quite correct when you realize that `format_number` returns a number, not a string. And of course:

[code]

[2016-10-10 22:24] cllns commented on #77
`format_number` [returns a String](https://github.com/hanami/helpers/blob/83e503078657aaec13d718534311be7074b2d509/lib/hanami/helpers/number_formatting_helper.rb#L31), not a number.

Maybe we should change the implementation to something like:
[code]
?

[2016-10-11 07:23] TiteiKo commented on #77
@cllns Yep. One detail left: in case of an integer, user friendly use would be to have a default precision to 0, to avoid having `format_number(1000) == "1,000.00"` instead of `"1,000"`

[2016-10-24 16:35] mereghost commented on #78
It seems like a problem of context for the bindings used in Tilt (and Erubis). Try changing your methods to look like this:

[code]
And it's invocation to: `radio_btn(self, 'name1', 'Some text 1')` and see if that fix this for you.

[2016-11-10 15:58] jodosha commented on #78
@brbrr Does @mereghost suggestion solves your problem?

[2016-11-10 15:59] brbrr commented on #78
Yes, that helps. sorry for delay!

[2016-11-10 15:59] #78 closed

[2016-11-10 16:00] jodosha commented on #80
@vladdypwnz Hi. How the markup before the form is generated?

[2016-11-10 16:01] jodosha commented on #78
@brbrr No worries. I'm glad you've fixed your issue.
@mereghost Thanks for helping @brbrr !

[2016-11-18 15:53] mereghost opened #84 "FormBuilder not filling the input fields"
Given a form with passed values:

[code]

The text_field will not be filled at all. I tracked the problem down to the `Values#_get_from_values` [message](https://github.com/hanami/helpers/blob/master/lib/hanami/helpers/form_helper/values.rb#L44).

Now that entities are implicitly serializable to hashes (as they respond to `to_hash`), they become hashes during the `Values#initialize` and therefore

[2016-11-20 20:21] myabc commented on #84
Reproduced this error. Most likely a regression caused by https://github.com/hanami/utils/commit/6243607729b32e5d584ddcdfe07da3b4b5bc3271

[2016-11-22 09:07] #77 closed

[2016-11-24 00:52] joneslee85 commented on #80
@vladdypwnz  ping :)

[2016-11-28 13:27] mereghost commented on #84
@dikond a fix that contemplates your use case was proposed on #87

[2016-11-29 17:16] #84 closed

[2016-11-30 18:25] dikond commented on #84
Apparently, it doesn't. When the form initialized, it calls `.symbolize!` on the values, which recursively calls itself on the values which respond to `.to_hash`:
https://github.com/hanami/utils/blob/master/lib/hanami/utils/hash.rb#L68

While this behaviour may be handy, it produces unexpected results when we have presenter object which responds to `to_hash` in the `values` options.

[2016-11-30 18:32] dikond opened #91 "FormBuilder unexpected values with presenters"
I am passing a presenter instance to the `form_for` helper, which decorates some of the methods of my model (I use plain Sequel, without repositories), and I want the form builder to call that decorated method.

When the form initialized, [it calls](https://github.com/hanami/helpers/blob/master/lib/hanami/helpers/form_helper/values.rb#L21) `.symbolize!` on the values, which [recursively calls itse

[2016-11-30 22:05] myabc commented on #91
@dikond what do you mean by "unexpected results"?

[2016-11-30 22:56] dikond commented on #91
Imagine I have a model object that responds to following methods:
[code]

And I have a presenter object that decorates `invited_guests` method:
[code]
Its class includes `Hanami::Presenter`

In the view I have a form to edit this:
[code]

In this case, the value of text_area would be `["James", "Anna", "Vitalik"]`, while I expect it to be `"Anna, James, Vitalik"`.

I expected this after reading a

[2016-12-01 17:41] jodosha commented on #91
@dikond Can you please check if [this PR](https://github.com/hanami/helpers/pull/87) by @myabc fixes the problem for you? Thanks. 😄

[2016-12-01 19:02] myabc commented on #91
@dikond if I understand correctly, your test case looks something like this:

[code]

A easy workaround would be for your `PartyPresenter` to define `to_hash`:
[code]

I'll leave defining what the right behaviour should be up to @jodosha though!

[2016-12-01 19:48] myabc commented on #91
To summarise, you will get expected behaviour if:
- both model and presenter implement `#to_hash`
- neither model nor presenter implement `#to_hash` (e.g. you add `undef_method :to_hash` to your `Party` class, if subclassing `Hanami::Entity`).

I'd suggest that this is actually an issue with `Hanami::View` - `Hanami::Presenter` should make this caveat clear (or provide a solution).

[2016-12-01 20:27] dikond commented on #91
@jodosha sure, I've checked that PR before opening my issue. The thing is that an instance of presenter gets converted to `Utils::Hash`, thus, passing [this line](https://github.com/hanami/helpers/pull/87/files#diff-c423ddc54c30b5b2e624939494dc38e7R52).

@myabc yeah, the case is like that. My conclusions was almost the same. We can also prepare our data explicitly, e.g. converting it to hash and p

[2016-12-01 22:22] myabc commented on #91
@dikond I think a simpler, generic fix would be to add a black-list of methods that `Hanami::Presenter` should not delegate. e.g.:

[code]

I'd wait from feedback from @jodosha before submitting such a patch though.

[2016-12-12 14:56] kaikuchn commented on #91
I'm experiencing a similiar problem, although no presenter is involved, instead i have a `Virtus.value_object`.
[code]
Where alert is said value object.
Since [Utils::Hash#symbolize!](https://github.com/hanami/utils/blob/master/lib/hanami/utils/hash.rb#L68) is called [here](https://github.com/hanami/helpers/blob/e19ad89a81bfb7a09c268ed0c0bb3061f0d2d212/lib/hanami/helpers/form_helper/values.rb#L21)

[2016-12-12 15:49] kaikuchn commented on #91
Ah, I guess this will be resolve soon, see [this issue](https://github.com/hanami/utils/issues/178).

[2016-12-21 07:19] jodosha commented on #91
@kaikuchn Hey, we released v0.9.2 on yesterday which ships with that fix. Can you please update and check if you still have the same problem? Thanks!

[2016-12-21 07:24] jodosha commented on #80
I'm closing this. @vladdypwnz If you want to continue the discussion, please reopen and comment. Thanks! 😄

[2016-12-21 07:24] #80 closed

[2016-12-21 08:44] kaikuchn commented on #91
Works with 0.9.2 as expected.

[2016-12-21 16:26] mereghost commented on #91
Thanks for letting us know, @kaikuchn . I'll close the issue them.

[2016-12-21 16:31] jodosha commented on #91
@kaikuchn Thanks for getting back. 👍

[2016-12-21 16:52] dikond commented on #91
@mereghost @jodosha I apologise, but this was about presenters. I've test it with `hanami-helpers 0.5.1` & `hanami-utils 0.9.2` and can say that it still doesn't work.

[2016-12-21 18:34] kaikuchn commented on #91
@dikond apologies for hijacking your issue!! I didn't mean to do that. It sounded like the reason for the weird behaviour was the same. 😖

I mean, it shouldn't matter whether it's a presenter or some other object that responds to `to_hash`. And [Utils::Hash#symbolize!](https://github.com/hanami/utils/blob/master/lib/hanami/utils/hash.rb#L68) now only converts the keys and doesn't touch the values.

[2016-12-22 09:17] dikond commented on #91
I'll try to make a sample app or a failing test to demonstrate that, but won't be able to do that for the next 4-5 days.

[2017-01-11 14:44] mereghost commented on #91
@dikond Hope to find you well. Any news on that?

[2017-01-12 09:18] dikond commented on #91
@mereghost hi. This issue completely dropped out of my head. I'll provide the failing spec till the Monday.

[2017-01-13 17:05] dikond commented on #91
@mereghost update:

I've checked the source of `hanami-utils 0.9.2` and... this version does not contain changes of https://github.com/hanami/utils/pull/162.

So I've tried to point the gem source to the github master. However, It requires to update almost every hanami gem to '1.0.0.beta1', and there is a funny issue:

[code]
[code]

`rack` version can't be resolved...

Anyway, I've made the same

[2017-01-18 10:47] jodosha commented on #91
@dikond Thanks for getting back to us.

Closing this because https://github.com/hanami/utils/pull/162 resolved it.

[2017-01-18 10:47] #91 closed

[2017-03-20 09:51] jodosha opened #105 "Migrate from Minitest to RSpec"
A few rules to follow:

  * If you want to work on this, please leave a comment here. We want to avoid many people to work on the same task.

  * We expect this migration to happen within a week from now.

  * Do not change the tests, only migrate from Minitest to RSpec syntax. If not sure, please ask here.

  * Do not remove the old tests, only add the new ones.

  * Make CI build to use RSpec te

[2017-03-26 08:49] morrme commented on #105
I notice this one also was not claimed., so if your schedule has changed, I would like to offer help.

[2017-03-26 10:50] jodosha commented on #105
@morrme Please go ahead. Thank you!

[2017-03-26 11:05] morrme commented on #105
OK I can start with this one.

Do you prefer everything sent as one big PR?

[2017-03-26 11:19] jodosha commented on #105
@morrme Yes, big PR please. 👍

[2017-07-31 15:40] jodosha commented on #105
Implemented by #106

[2017-07-31 15:40] #105 closed

[2017-08-22 09:24] malin-as opened #108 "No escaping of special characters in attribute values of HTML tags"
Hi,

If I use the `div` helper like this in my Slim template:
[code]
The resulting HTML is:
[code]
I can also reproduce that in IRB. I expected that the strings would automatically be escaped. Did I miss something? I think that having to do it by myself would defeat the point of using a helper in the first place.

[2017-08-22 20:07] glaszig commented on #108
you should use the `ha` helper:

    = div 'data-story': ha('My "own" story')

there's more about escaping markup [in the docs](http://hanamirb.org/guides/1.0/helpers/escape/#escape-html-attributes).

[2017-08-23 03:16] malin-as commented on #108
Thanks for the docs, I had missed that page.

However, it states (in bold text) that "This should be used only when the value of an attribute comes from a user input." I disagree about that. I could have automatically-generated values that come from some arbitrary library with no direct relationship to user data, and yet these values could need some escaping. It wouldn't necessarily be a security

[2017-08-23 18:05] glaszig commented on #108
i agree, actually. just wanted to point out how they suggest you do it.

the approach should simply be reversed and escaping skipped if you do

    = div 'data-story': raw('My "own" story')

afaik, `#raw` returns an `Hanami::Utils::Escape::SafeString` which escapes escaping ;)

[2017-09-12 09:12] white-monkey opened #110 "Form helper does not handle numbers for nested fields"
Hi,

I ran into a small problem with version `1.0.0`. I'm not sure whether it is a bug or me trying to do something I shouldn't. I came up with the following MWE:

[code]
It produces the following HTML code:
[code]
As you can see, the `name` of the `input type="hidden"` is incomplete, and Rack raises an exception when the form is submitted. I thought that maybe using an Integer caused a problem so

[2017-09-27 15:26] mereghost commented on #110
Hi @white-monkey , sorry for the delay in checking this. Could you check if the same happens with other kinds of inputs (text_field tel_field) too?

[2017-09-27 16:09] TiteiKo commented on #110
Hi,

Because we're supporting `fields_for_collection`, we have a side effect that is that you can't have a subfield named by a numeric key (so user[1], user[1][foo] or just 1). Most of the time, if you think about doing something like that, you in fact want to have an array of items in the end

[code]

To have your action parameters look like this:

[code]

In a nutshell: this is an unavoidable si

[2017-09-28 09:12] TiteiKo opened #111 "Select and textarea helpers don't compute the correct name attribute"
Looking at [this](https://github.com/hanami/helpers/issues/110#issue-256972284) and [this](https://github.com/hanami/helpers/pull/107#issuecomment-326688700):

When inside a `fields_for_collection` block, indexes aren't stripped from `select` and `textearea` name attributes.

[2017-09-28 09:13] TiteiKo commented on #110
@white-monkey I'm closing in favor of https://github.com/hanami/helpers/issues/111

[2017-09-28 09:13] #110 closed

[2017-09-29 08:50] malin-as opened #112 "NoMethodError: undefined method `count' for nil:NilClass when using fields_for_collection"
Hi,

I'm trying to use `fields_for_collection` but I get a strange error. I can recreate the error in a newly generated project when using the example from http://hanamirb.org/guides/1.0/helpers/forms/ (I just removed the non-existing route):

[code]

This is what I get on my browser:
[code]

Beyond that error, I'm puzzled by how to use it, because I don't see any hint of an iterator or of a loop

[2017-10-02 09:03] TiteiKo commented on #112
Hi @malin-as ,

Basically, it will loop on the array, so make sure `delivery.adresses` is an array and not nil and it should solve the error.

Simplified example from my real-life project:

[code]

[code]

I currently have 2 locales (fr & en) in the `available_locales` array.

The generated html looks like this:

[code]

The form submission then arrives here:

[code]

With the following parameters

[2017-10-02 09:40] malin-as commented on #112
I understand most of your example, thanks for that (especially for connecting the dots between the names in the form and the validations), but I'm stuck at the first line. You say that `delivery.addresses` should be an array, but how do the helpers even know how to find that object? Am I supposed to create that object? And is there some automagical translation of `:delivery` and `:addresses` (when

[2017-10-02 18:49] davydovanton commented on #111
I think I can try to fix it 👍

[2017-10-05 07:42] jodosha commented on #108
Hi @malin-as your point is good, but we can't change this behavior as it is because of SemVer. I marked for future consideration, when we'll plan 2.0. Thanks.

[2017-10-05 07:42] #108 closed

[2017-10-10 19:45] AlfonsoUceda commented on #112
Hi @malin-as can you provide us what you have in your view class? Thanks!

[2017-10-10 19:50] AlfonsoUceda commented on #111
@TiteiKo checking https://github.com/hanami/helpers/issues/110#issue-256972284 should we include hidden field to this issue?

[2017-10-11 09:17] malin-as commented on #112
Hi @AlfonsoUceda, there's nothing in my view class, it's just the one automatically generated:

[code]

Does it mean that in order to use `fields_for_collection` I need to put some information in my view class?

[2017-10-11 10:30] AlfonsoUceda commented on #112
@malin-as if you comment `fields_for_collection` block, works? where are you exposing `:delivery`?

[2017-10-11 10:50] malin-as commented on #112
@AlfonsoUceda yes, after commenting the `fields_for_collection` block, it works. So far I'm not exposing any `delivery`. Should I have a `Delivery` object in my model for this to work?

[2017-10-11 10:53] AlfonsoUceda commented on #112
`fields_for_collection` expects a collection, if you don't provide a `delivery` object with `addressed` collection, it won't work.

Checking your code it seems that form is when you want create a new delivery, so you need to provide an empty deliver object, try that please.

[2017-10-12 05:26] malin-as commented on #112
I think it's finally taking shap, I got this in my controller now:

[code]

And my template now is:
[code]

The form contains 5 street fields since the `addresses` array is of size 5. But I have to explicitly set `values` in my call to `form_for`, is that the correct way of using it? In @TiteiKo's example, `product` seems to be automatically used by `form_for`.

[2017-10-12 10:56] AlfonsoUceda commented on #112
In @TiteiKo's example use `Product` I think that is an entity so other fields will be readed from that entity. IMO you should use a `Delivery` entity to use in that form_for instead a plain hash.

[2017-10-12 10:57] AlfonsoUceda commented on #112
I'm going to close this issue but of course you can follow asking, if you have more questions you can use [gitter chat](http://chat.hanamirb.org/)

[2017-10-12 10:57] #112 closed

[2017-10-24 08:09] nerdinand opened #114 "JRuby ConcurrencyError with tag block form"
In my code I'm trying to use the block form of `tag`, something like this:
[code]

When I try to render this with JRuby, I get a ConcurrencyError:

[code]

The same code does not lead to an exception when using MRI.

It really seems to have to do with the block form of the `tag` method. The following code works fine:

[code]

[2017-10-29 17:18] AlfonsoUceda commented on #114
Thanks @nerdinand checked, marking as bug

[2017-11-04 20:59] nerdinand opened #115 "`select` behaves in an unexpected way with `nil` in options"
When using `nil` as a value in the options for a `select`, unexpected things are happening.

Example:
[code]

Results in:
[code]

Note that **two** values are `selected`: The correct one (Foo) as well as the value for `nil` (N/A).

Visually, this results in the wrong value being selected in the UI:
<img width="110" alt="web" src="https://user-images.githubusercontent.com/113440/32409390-3ed2f822-c

[2017-11-04 21:03] nerdinand commented on #115
When using `''` instead of `nil` in the options, things work:

[code]

results in:
[code]

as expected.

[2017-11-05 13:37] nerdinand opened #116 "Some helper methods produce wrong `name` attributes when called in `fields_for_collection` block"
Some helper methods return wrong `name` attributes when called from within a `fields_for_collection` block. Here's a minimal example:

[code]

This produces:
[code]

Note how the `name` attribute for the `hidden_field` and the `text_field` are ok (e.g. `thing[sub_entities][][id]`). But they're wrong for at least `text_area`, `check_box` and `select` (haven't looked at the others): `thing[sub_entit

[2017-11-06 13:43] nerdinand commented on #116
Here's a workaround until this gets fixed:

[code]

[2017-11-06 15:41] nerdinand opened #117 "Params break when `check_box` is used within `fields_for_collection`"
When using `check_box` within a `fields_for_collection` block, the params hash can get screwed up. Here's a minimal example:
[code]

When submitting the form with both checkboxes unchecked, the request data looks like this:
[code]

Which results in the following params on the server:
[code]

That looks fine.

However, if you check one of the checkboxes and submit, the request data looks like this:

[2017-11-06 16:53] nerdinand commented on #117
A possible workaround is something like:
[code]

Of course, you then have to do some more work in the controller to work with those params...

[2017-11-07 09:50] malin-as opened #118 "The `select` method expects an inverted hash for its `values` parameter"
Hi,

When providing values to `select`, the code expects a hash such as:
[code]
I think that it's a very surprising way of doing things, and actually even the documentation is confused (cf http://www.rubydoc.info/gems/hanami-helpers/Hanami/Helpers/FormHelper/FormBuilder#select-instance_method ):
[code]
appears in the first two examples, while:
[code]
appears in the subsequent six ones.

While the

[2017-11-07 20:00] cllns commented on #118
@malin-as Thanks for reporting this. I agree the values should be the key, and the text should be the value. You're right though that this is a breaking change. We should consider doing this for Hanami 2.0.

In the meantime, could you open a PR fixing those comments, to reflect how this helper actually works?

[2017-11-09 20:34] AlfonsoUceda commented on #118
I agree with this change, for me they key in the hash should be de option's value and the value in the hash the value to display in the option.

[2017-11-09 20:42] AlfonsoUceda commented on #115
@nerdinand thanks! I'm going to prepare a PR for this.

[2017-11-09 21:32] AlfonsoUceda commented on #116
@nerdinand thanks for the info, I'm going to prepare a PR for this.

[2017-11-09 21:46] nerdinand opened #121 "Access non-editable fields in form with `fields_for_collection`"
In my application I'm building a big form that edits multiple records at once. I'm doing this by building an html table where each row corresponds to a record. Some of the attributes of my records are not supposed to be editable and should just be displayed (e.g. `id`).

It seems that there is no official solution at the moment to access and display that attribute. In my code I have to resort to u

[2017-11-09 21:53] nerdinand commented on #121
Related: Is there a way of accessing the current instance the form is dealing with? For example if I wanted to access the entire `sub_entity` for the current table row, not just its `id`?

[2017-11-09 21:58] AlfonsoUceda commented on #116
@nerdinand this isssue is related to https://github.com/hanami/helpers/issues/111 and for example this is ok `thing[sub_entities][0][key2]` but not this `thing[sub_entities][][key2]`.

[2017-11-09 22:28] nerdinand commented on #121
Here's a way of accessing `sub_entity` I came up with, but it's insane:
[code]

[2017-11-10 15:15] AlfonsoUceda commented on #118
cc @jodosha

[2017-11-10 15:21] AlfonsoUceda commented on #121
@nerdinand how is the expected form in html? To help us to understand better, thanks.

[2017-11-10 16:00] nerdinand commented on #117
BTW, I recently abandoned the idea to work with forms in hanami without JS, as it just wasn't practical for the rather complex forms I was building. Here's what I did instead:

View:
[code]

`radio-button.js`
[code]

`form-dont-submit.js`
[code]

[2017-11-10 16:01] nerdinand commented on #117
And I have similar JS code for checkboxes too...

[2017-11-12 14:21] nerdinand commented on #121
The desired HTML looks something like this:

[code]

To give the user an indication of which element they're dealing with, the first column shows a value specific to the `sub_entity` instance. In this case it's the `id`. Here, `_value(:id)` suffices to get that value, though I doubt I'm supposed to use that method anywhere...

This is only the simplest case. In another case, I want to pass the `su

[2017-11-13 21:01] AlfonsoUceda commented on #117
@nerdinand is radio button broken when using `fields_for_collection` too? Thanks for alerting us and sorry to hear that but we are working to improve it.

We have decided to remove hidden field when using checkboxes because it breaks how Rack parse nested fields.
[code]

[2017-11-13 22:08] nerdinand commented on #117
@AlfonsoUceda yes, that was exactly my problem... How does Rails solve this? I assume they have some unobtrusive JS magic similar to mine that takes care of the shortcomings of HTML forms?  Once again I'm baffled at how terribly designed HTML is...

Maybe you should consider adding something like these JS helpers to Hanami?

[2017-11-15 06:44] AlfonsoUceda commented on #121
@nerdinand Imo we could pass the used object to the block, something like the following
[code]
So with this syntaxes you can access to the item and just you need to call I'd to your item object  what do you think?

Cc @jodosha

[2017-11-15 06:47] AlfonsoUceda commented on #117
@nerdinand I'm wondering how a radio button can be problematic in this context since if you have several radio button in the block, the selected radio will be sent, isn't it? I have to try it anyway.

[2017-11-15 07:34] nerdinand commented on #117
Right, I don't quite remember what my problem with the radio buttons was. I think it was a combination of all the bugs I faced that made it make sense and seem easier to implement the same JS behaviour for check boxes and radio buttons...

[2017-11-15 07:35] nerdinand commented on #121
@AlfonsoUceda That sounds like a great solution to me!

[2017-11-27 10:59] #115 closed

[2017-11-27 11:01] #111 closed

[2017-11-27 11:01] #116 closed

[2017-11-27 11:05] jodosha commented on #118
@malin-as Thanks for this suggestion. It used to be like that in the past, but we changed it as of `v0.4.0`. Please read why here: https://github.com/hanami/helpers/pull/61

[2017-11-27 11:05] #118 closed

[2017-11-27 11:07] jodosha commented on #121
@nerdinand Does @AlfonsoUceda suggestion this fixes the problem?

[2017-11-27 11:10] nerdinand commented on #121
@jodosha if that got implemented it would fix my problem, yes.

[2017-11-28 09:36] malin-as opened #124 "Placeholder option tag in select gets selected by default"
With regards to hanami-helpers 1.1.0, the following code:

[code]
produces:
[code]
The placeholder is marked as selected when it should not. This also happens with a value of `nil` (i.e. `'---' => nil`).

[2017-11-28 11:35] jodosha commented on #124
@malin-as values are expected to contain options. I suggest to use:

[code]

[code]

---

If you don't have control over `values`, you can force the selected value:

[code]

[code]

⚠️ **Please note that this last case won't work because of a bug, that I just fixed. If the fix works for you, we're gonna release `v1.1.1` in a few hours.** ⚠️

[2017-12-15 06:30] malin-as opened #126 "Cannot interleave Slim and Form Helpers"
Hi,

It is currently impossible to mix Slim and Form Helpers in a natural way. For instance, an abridged version of the following [bootstrap form](https://getbootstrap.com/docs/4.0/components/forms/#horizontal-form) does not render correctly if represented in this way:

[code]
At the moment, the only way to solve this is to either create every node from the Html Helpers, or to create the form manu

[2017-12-18 19:49] AlfonsoUceda commented on #126
Thanks @malin-as can you provide the wrong output? Just for the record

[2017-12-20 05:13] malin-as commented on #126
This is the output:

[code]

[2017-12-22 23:44] AlfonsoUceda commented on #126
@malin-as thanks! I'll try to research how to mix slim and form helpers

[2018-01-12 00:33] davydovanton commented on #126
Some terrible expertise: I used `html` helper in view for render complicated forms. You can create different method in view object and use `super + html_method` for concatenate it 😞

[2018-01-31 10:48] nerdinand opened #127 "`submit` helper does not accept block syntax"
The `submit` form helper does not seem to accept the block syntax for nesting tags within. Example:

[code]

leads to:

[code]

Whereas the `button` helper reacts differently (note the nested span in the html):

[code]

yields:

[code]

Is this by design or a bug?

[2018-02-18 20:47] AlfonsoUceda commented on #127
Hi @nerdinand

I've checked that `submit` doesn't support a block. In my opinion, I suppose we need to support that because as you example, we could add span tags for adding some CSS rule.

It isn't a bug so I'll mark this issue as enhancement. I'll add as soon as possible ;)

[2018-02-28 11:01] jodosha commented on #126
@malin-as Hi, I'm sorry about the poor experience, but this isn't a bug, it's a known limitation.

In order to design only one form helper for all the template engines, we had to introduce the compromise of one syntax block per from.

That means with ERB, you **can't** do this:

[code]

Now that being said, I agree that it should be radically changed towards the syntax you tried to use, but this i

[2018-02-28 11:01] #126 closed

[2018-03-01 14:38] mereghost commented on #127
I was doing the exact same thing by passing the span helper as the button text.

[2018-03-23 13:10] nerdinand opened #131 "select: selected option depends on order of options"
I just discovered this while upgrading to hanami 1.1.
My tests were failing, claiming the expected option was not selected in a `<select>` element. The same test passed in hanami 1.0. I dug around a bit. Apparently the fix in https://github.com/hanami/helpers/commit/c0043de2d65ef0306edfd7af30914653f8e7f4f9 introduced a new bug:

If your options contain a `nil` option, it must be the last option. O

[2018-03-26 04:31] GustavoCaso commented on #131
Hi @nerdinand,

Thanks for opening the issue.

I'm new to helping around here, but I would love to take a look at this one

[2018-03-29 09:19] pointlessone opened #134 "form_for with only a form object raises an error"
[Example in docs](https://github.com/hanami/helpers/blob/fdce06d5123a427b21c37e55f5a6a3fd9943b7d9/lib/hanami/helpers/form_helper.rb#L150-L181) shows how `form_for` can be called with a form object.

However, [method signature](https://github.com/hanami/helpers/blob/master/lib/hanami/helpers/form_helper.rb#L409) looks like this:

[code]

Note that it has two mandatory positional arguments. This mak

[2018-03-29 14:03] jodosha commented on #131
Fixed by #132

[2018-03-29 14:03] #131 closed

[2018-04-03 16:25] jodosha commented on #127
Implemented by #130

[2018-04-03 16:25] #127 closed

[2018-04-03 16:27] jodosha commented on #134
@pointlessone Hi and thanks for reporting.

Which version of `hanami` and `hanami-helpers` are you using? Can you please add a snippet of code here to reproduce the problem? TYVM!

[2018-04-03 16:53] pointlessone commented on #134
## Gems

* `hanami`: 1.1.1
*  `hanami-helpers`: 1.1.1

## Example

View:

[code]

Template (Slim):

[code]

Note the empty hash. According to docs it's optional.

[2018-04-04 11:01] jodosha commented on #134
@pointlessone Thanks for your quick reply. Would you mind to manually test this fix?https://github.com/hanami/helpers/pull/135

To do so, edit your `Gemfile` like this:

[code]

Please put it **before** `gem "hanami"` declaration.

[2018-04-05 11:50] #134 closed

[2018-04-05 16:10] jodosha commented on #121
Implemented by #133

[2018-04-05 16:10] #121 closed

[2018-04-16 11:58] nerdinand commented on #114
I wrote a failing spec to reproduce this problem. While doing this, I noticed that there seems to be another bug (the spec fails in both MRI and JRuby):

In my opinion, this code:

[code]

Should result in:
[code]

But the actual outcome in the test (with MRI) is:
[code]

Additionally, when run with JRuby, this test results in the `ConcurrencyError: Detected invalid array contents due to unsynchro

[2018-04-17 06:58] AlfonsoUceda commented on #114
@nerdinand thanks for the comment, I agree with you, I think if you use `tag` to envelop something that should be the behaviour

[2018-04-17 06:58] AlfonsoUceda commented on #114
have you tried this with the last version of jRuby?

[2019-09-27 03:18] unleashy opened #144 "`label` helper doesn't accept block syntax"
Similar to #127, but with `label`. I'll make a PR as soon as I can.

Example use case:

[code]

Which is more accessible than just having `label 'Pizza *', for: :pizza` :slightly_smiling_face: :pizza:

[2019-10-25 10:02] DannySantos opened #149 "Params are present in form builder on AJAX success"
In our Hanami project we've run into an issue when we use AJAX and the request is a success. If we want to re-render a section of the page without reloading or redirecting, any form that we attempt to re-render defaults to using the params for the values. At that point however, those params are outdated, and we don't want them to populate the form fields. This is particularly a problem when the pa

[2019-10-25 13:11] #144 closed

[2019-10-25 13:20] jodosha commented on #149
@DannySantos I just want to double check: is your goal to clear **all** the form values after AJAX submission? Would this fix your problem? https://www.w3schools.com/jsref/met_form_reset.asp

[2019-10-25 13:39] DannySantos commented on #149
@jodosha No the goal isn't to clear all the values, it's to make sure that all of the values are correct, whether that means clearing them or, in the case of an update form, making sure they are populated by the attributes from the database and not the params. As our project has developed this has raised questions a few different times. Having just done a bit more hacking on this we've just realis

[2019-10-25 14:31] jodosha commented on #149
@DannySantos Let me rephrase. We're talking about invalid data in form submission that is happening via AJAX.

  * In case of _new_ form, you want to clear form inputs with invalid data, but keep the ones with valid data.

  * In case of _edit_ form, you want to put back again data from the database in the form inputs with invalid ones, but leave as they are the form fields that weren't touched or

[2019-10-25 15:11] unleashy commented on #144
Thanks, @arr-dev and @jodosha!

[2019-10-27 17:55] jodosha commented on #144
@unleashy We'll release this one on next Fri.

[2019-10-28 13:13] DannySantos commented on #149
@jodosha Sorry, I should have been more clear! We're not just talking about invalid data, but valid data too.

- In the case of a new form or an edit form that fails validation I want to keep all of the fields that were submitted.

- In the case of a new form that successfully creates the record I want to re-render a section of the page with AJAX which **may contain the new form**. In that case I

[2019-10-29 09:10] jodosha commented on #149
@DannySantos Thanks for the well crafted explanation. For the part regarding the params, I thought that it would be feasible to fix your problem by allowing to override params inline.

Would you please check if this patch fixes your params problem? https://github.com/hanami/helpers/pull/150

The PR contains an example to use the enhancement.

---

To try the PR, edit your `Gemfile` and add this li

[2019-10-31 09:42] #149 closed

[2021-01-14 11:25] jodosha commented on #114
Closed as stale conversation.

[2021-01-14 11:25] #114 closed

[2021-05-03 15:24] jodosha commented on #117
Closing as stale.

[2021-05-03 15:24] #117 closed